<div class="container">
  <!--Modal-->
  <div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog">
      <!--Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="text-center">
            <span>
              <b>{{isLoggingIn ? 'Login' : 'Register'}} </b>
            </span>
          </h1>
        </div>
        <div class="modal-body">
          <form   autocomplete="off" >

            
            <div class="form-group ">
              <label for="Email">Email</label>
              <input type="text" class="form-control" [(ngModel)]="user.email" name="email" #email="ngModel" required>
              <!--<div [hidden]="email.valid || email.pristine  || email.touched" class="alert alert-danger">
                Email is required
              </div>-->
            </div>

            <div class="form-group">
              <label for="Password">Password</label>
              <input type="password" class="form-control" [(ngModel)]="user.password" name="password" #password="ngModel" required>
            </div>
            <!--<div [hidden]="password.valid || password.pristine  || password.touched" class="alert alert-danger">
              Password is required
            </div>-->

            <input type="submit" class="btn btn-danger " id="submit-button" [value]="isLoggingIn ? 'Sign In' : 'Sign Up'" (click)="onSubmit()">

            <input type="submit" class="btn btn-default " [value]="isLoggingIn ? 'Sign Up' : 'Back to Login'" (click)="toggleDisplay()">
          </form>

        </div>
        <!--Modal Footer-->
        <div class="modal-footer">
          <div *ngIf="errorMessage || !isError" class="alert alert-danger">
            {{errorMessage}}
          </div>
          <div *ngIf="signUpsuccess" class="alert alert-danger">
            {{signUpSuccessful}}
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
