<div class="container">

  <div>
    <app-logout-module></app-logout-module>
  </div>
  <div>
  <form class="form-inline" #addItem="ngForm" autocomplete="off" *ngIf="!isLoading" novalidate>
    <div class="form-group">
      <app-my-input-component [groceryItems]="groceryItems" (inputValue)="myStringChanged($event)"> </app-my-input-component>
    </div>
  
    <button md-raised-button color="primary" type="submit" (click)="add()">Add Grocery</button>
  </form>
  </div>
  <hr>
  <div class="loadingImage" *ngIf="isLoading">
    <md-progress-circle mode="indeterminate" color="warn"></md-progress-circle>
  </div>
  <table class="table" id="table" *ngIf="!isLoading">
    <thead>
      <tr>
        <th>Id</th>
        <th>Groceries Name</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of (groceriesItemsList | orderBy  | searchBy: groceryItems) ; let i = index ">
        <td>{{ i + 1 }}</td>
        <td>{{ item.Name }}</td>
        <td (click)="selectGrocery(item)">
          <i class="fa fa-pencil-square-o" aria-hidden="true" style="cursor : pointer;"></i></td>
      </tr>
    </tbody>
  </table>
  
</div>