<div class="container">
  <logout-module></logout-module>
</div>
<div class="container">
  <form class="form-inline" #addItem="ngForm" autocomplete="off" *ngIf="!isLoading">
    <div class="form-group">
      <my-input-component [groceryItems] = "groceryItems" (inputValue)="myStringChanged($event)"> </my-input-component>
    </div>
    <input type="submit" class="btn btn-primary" (click)="add()" value="Add Grocery">
  </form>
  <hr>
  <div class="loadingImage" *ngIf="isLoading">
    <img src="../../images/loading.gif" alt="Loading">
  </div>
  <table class="table" id="table" *ngIf="!isLoading">
    <caption>Grocery Items</caption>
    <thead>
      <tr>
        <th>Id</th>
        <th>Groceries Name</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of (groceriesItemsList | orderBy  | searchBy: groceryItems) ; let i = index ">
        <td>{{ i + 1 }}</td>
        <td>{{ item.Name }}</td>
        <td (click)="selectGrocery(item)">
          <i class="fa fa-pencil-square-o" aria-hidden="true" style="cursor : pointer;"></i></td>
      </tr>
    </tbody>
  </table>
</div>